input[type=text], select {
    width: 100%;
}
select.walletselect {
    border: 0px solid;
    height: 40px;
}

.tab-content {
    padding: 0px;
}
button.btnmodaltr {
    width: 25%;
    margin-left: -15px;
    margin-bottom: 10px;
}
.selectWalletError{
    text-align: center;
    color: red;
    margin-top: 20px;
    margin-bottom: -10px;
}
h5.headwlad {
    margin-top: -20px;
    margin-bottom: 20px;
}