
<!-- <header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="">
                    <img src="assets/img/moneroico.png" class="img-responsive tblogo" alt="moneroico">                    
                </a>
                <p class="titlemasscryp">Moneroconnect ICO</p>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
</header>
<section id="loginForm" class="">
   <particles class="particleview" [style]="mystyle1" [params]="myparams1"></particles>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 form_wrap clearfix">
                <div class="col-sm-12 form_head">
                    <h3 style="margin-bottom: 0px;">
                        Enter OTP
                    </h3>
                    <hr>
                </div>
                <div class="col-sm-12">
                                            <form action="" id="registerForm">
                    <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                         style="display: block">
                       <span class="text-center text-danger">{{errmsg?errmsg:""}}</span>
                    </div>
                    <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                    style="display: block">
                        <span class="text-center text-success">{{sucmsg?sucmsg:""}}</span>
                    </div>


                    <div class="form-group">
                                                       <label for="regPassword">Enter OTP</label>
                        <input type="password" class="form-control custInput" id="password"
                               placeholder="Enter OTP.." name="otpno" [(ngModel)]="otpno" required></div>
                    <div class="form-group">
                    </div>
                    <div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
                        <button (click)="signup_new_user()" value="CONTINUE" id="regFormSubmit"
                                class="btn btn-primary btn-block custBtnAnchor" accesskey="">
                            <strong style="letter-spacing: 1px;">NEXT</strong>
                            &nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimglogin">
                        </button>
                    </div>

                                      </form>
                    <form method="get" action="/home/" id="home">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<particles class="particleview" [style]="mystyle1" style="background:url('assets/img/mainbg.jpg');" [params]="myparams1"></particles>
<div class="container"> 
        <ngx-loading [show]="ngxloading"></ngx-loading>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 form_wrap clearfix">
            <div class="col-sm-12 form_head">
                    <h2 class="text-center">
                        <img src="assets/img/moneroico.png" class="img-responsive mllogo" alt="Moneroconnect">                            
                    </h2><br>
                <h3 style="margin-bottom: 0px;color:#fff" class="text-center">
                    Enter OTP
                </h3>
                <hr>
            </div>
            <div class="col-sm-12">
                                        <!-- <form action="" id="registerForm"> -->
                <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                        style="display: block">
                    <span class="text-center text-danger">{{errmsg?errmsg:""}}</span>
                </div>
                <div class="col-sm-12 text-center" id="password_not_entered" role="alert"
                style="display: block">
                    <span class="text-center text-success">{{sucmsg?sucmsg:""}}</span>
                </div>


                <div class="form-group">
                                                    <!-- <label for="regPassword" style="color:#fff">Enter OTP</label> -->
                    <input type="password" class="form-control custInput" id="password"
                            placeholder="Enter OTP.." name="otpno" [(ngModel)]="otpno" required></div>
                <div class="form-group">
                </div>
                <div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2 text-center">
                    <p class="clickresend" (click)="resendOTP()">Click Here to Resend OTP</p>
                </div>

                <div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
                    <button (click)="signup_new_user()" value="CONTINUE" id="regFormSubmit"
                            class="btn btn-primary btn-block custBtnAnchor" accesskey="">
                        <strong style="letter-spacing: 1px;">NEXT</strong>
                        &nbsp;  <img src="assets/img/loading.gif" *ngIf="loadingimage" class="loadingimglogin">
                    </button>
                </div>

                                    <!-- </form>
                <form method="get" action="/home/" id="home">
                </form> -->
            </div>
        </div>
    </div>
</div>